In [4]:
#COUNT no.of digits in the given string
#input :"python123is456good789"
#output:9
s=input()
i=0
count=0
sum=0
while i<len(s):
    if s[i].isdigit():
        count+=1
        sum+=int(s[i])
    i+=1
print(sum)

 tyu789

24

In [11]:
#for loop
#1.using range()
#2.using iterable object
n=int(input("enter a number"))
for i in range(2,n+1,3):
    print(i,end=" ")

enter a number 50

2 5 8 11 14 17 20 23 26 29 32 35 38 41 44 47 50

In [5]:
#to print characters usng(for,while)
s=input()
i=0
while i<len(s):
    print(s[i],end=" ")
    i+=1
print()
for i in range(0,len(s)):
    print(s[i],end=" ")
print()
for i in s:
    print(i,end=" ")

 python

p y t h o n
p y t h o n
p y t h o n

## collection type data type:
### list:
1. for creating  a list use[]
2.lists are mutable
3.lists are indexed
4.lists are ordered
5.list allows duplicate values
6.it stores hetrogenous values

In [15]:
list1 = [23,32,456,45.56,"string",True,[1,2,3]]
print(list1[-1])
print(list1[2:4])
print(list1[-3][::-1])
print(list1[-1][1])

[1, 2, 3]
[456, 45.56]
gnirts
2

In [8]:
#manipulating a list
#1.adding elements
list1=[34,45,65]
print("before adding elements:",list1)
list1.append(100)
list1.insert(2,200)
list1.append(300)
print("after adding elements:",list1)

before adding elements: [34, 45, 65]
after adding elements: [34, 45, 200, 65, 100, 300]

In [19]:
list1.extend([1,2,3])
list1

[34,
 45,
 200,
 65,
 100,
 300,
 1,
 2,
 3,
 234,
 600,
 145,
 1,
 2,
 3,
 234,
 600,
 145,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3]

In [ ]:
list1.append(234)
list1.append(600)
list1.append(145)

In [34]:
li=[2,4,7]
li.extend([1,3,5])
li

[2, 4, 7, 1, 3, 5]

In [31]:
#removing elements from the list
#list1.pop(5)
print(li)

li.clear()
print(li)

[2, 4, 7, 1, 3]
[]

In [35]:
#replacing an element
li[4]=9
li

[2, 4, 7, 1, 9, 5]

In [39]:
#sorting a list
li=[2,3,4,9,5,6]
li.sort(reverse=True)
li

[9, 6, 5, 4, 3, 2]

In [45]:
li=[456,567,45,23,56]
li.reverse()
li

[56, 23, 45, 567, 456]

In [46]:
li.index(23)

1

In [47]:
li.count(23)

1

In [49]:
li=[23,23,45,23,54,3,2]
li.count(23)

3

In [52]:
list2=li
list2
li

[23, 23, 45, 23, 54, 3, 2]

In [53]:
li3=li.copy()

In [73]:
l1=[2,4,5,7,8]
l2=[]
l3=[]
for i in range(0,len(l1)):
    l2.append(l1[i]**2)
print(l2)
for i in l1:
    l3.append(i**2)
print(l3)

[4, 16, 25, 49, 64]
[4, 16, 25, 49, 64]

In [84]:

l4=[]
for i in l1:
    if i%2==0:
        l4.append(i)
    
print(l4)

[2, 4, 8]

In [95]:
list1=[]
n=int(input())
for i in range(n):
    list1.append(int(input()))
a=sum(list1)
print(a)

 4
 4
 5
 6
 7

22

In [96]:
tup1=(23,24,4)
x,y,z=tup1
print(x,y,z)

23 24 4

###dictionary
###syntax:(key1:value1,key2:value2......)
###key

1.key should be unique

2.key should be imutable-->

In [99]:
dict1={"name":"prethi","course":"python","address":"hyd"}
dict1["course"]="c programming"
print(dict1)

{'name': 'prethi', 'course': 'c programming', 'address': 'hyd'}

In [100]:
dict1["college"]="gitam"
print(dict1)

{'name': 'prethi', 'course': 'c programming', 'address': 'hyd', 'college': 'gitam'}

In [101]:
del dict1["address"]
print(dict1)

{'name': 'prethi', 'course': 'c programming', 'college': 'gitam'}

 ### function:
 ### def name_of_the_function(arg list):
 ###    statements
 ###    return

In [103]:
def add(x,y):
    return x+y
print(add(10,20))
print(add(100,200))

30
300

In [104]:
def add(x,y):
    print( x+y)
print(add(10,20))
print(add(100,200))

30
None
300
None

In [ ]:
def square(x):
    return x*x
def cube(x):
    return square(x)*x
print(cube(3))